{% extends "layout.html" %}

{% block title %}Transactions{% endblock %}

{% block pagename %}Transactions Management{% endblock %}

{% block inner %}
<div class="col-md-12">
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="card-title">Transaction records</h4>
                </div>
                <div class="col-md-6 text-end">  
                    <button class="btn btn-primary btn-sm btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal"
                        id="addRowButton">
                        <i class="fa fa-plus"></i>
                        Add Transactions
                    </button>
                    <button class="btn btn-danger btn-sm btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addDebtModal"
                        id="addDebtButton">
                        <i class="fa fa-plus"></i>
                        Add Debt
                    </button>
                    <button class="btn btn-success btn-sm btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addTransferModal"
                        id="addTransferButton">
                        <i class="fa fa-plus"></i>
                        Add Transfers
                    </button>
                </div>
            </div>
        </div>

        <!-- Card body -->

        <!-- Add Transaction Modal -->
        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header border-0">
                  <h5 class="modal-title">
                    <span class="fw-mediumbold"> New</span>
                    <span class="fw-light"> Transaction</span>
                  </h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="small">
                    Create a new transaction by filling the information below
                  </p>

                  <!-- Add Transaction Form -->
                  <form method="post" id="addTransactionForm" action="/transactions/create">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Date</label>
                          <input id="addDate" name="selected_date" type="date" class="form-control" placeholder="transaction date" required/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Type</label>
                          <select id="addType" name="selected_type" class="form-control" required>
                            <option value="" disabled selected hidden>select type</option>
                            {% for type in all_options.transaction_types[:2] %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Category</label>
                          <select id="addCategory" name="category" class="form-control" required>
                            <option value="" disabled selected hidden>select category</option>
                            {% for category in all_options.categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Wallet</label>
                          <select id="addWallet" name="wallet" class="form-control" required>
                            <option value="" disabled selected hidden>select wallet</option>
                            {% for wallet in all_options.wallets %}
                                <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Amount</label>
                          <input id="addAmount" name="amount" class="form-control" type="number" step="0.01"
                            placeholder="100,000" required/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>description</label>
                          <input id="addDescription" name="description" class="form-control" type="text"
                            placeholder="description"/>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer border-0">
                        <button type="submit" id="addRowButton" class="btn btn-primary">
                          Add
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                          Close
                        </button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
        </div>

        <!-- Add Debt Modal -->
        <div class="modal fade" id="addDebtModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header border-0">
                  <h5 class="modal-title">
                    <span class="fw-mediumbold"> New</span>
                    <span class="fw-light"> Debt Transaction</span>
                  </h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="small">
                    Create a new DEBT transaction by filling the information below
                  </p>

                  <!-- Add Debt Form -->
                  <form method="post" id="addDebtForm" action="/transactions/create/transfer">
                    <input type="hidden" name="selected_type" value=4>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Date</label>
                          <input id="addDebtDate" name="selected_date" type="date" class="form-control" placeholder="transaction date" required/>
                        </div>
                      </div>
                        
                         
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Category</label>
                          <select id="addDebtCategory" name="category" class="form-control" required>
                            <option value="" selected disabled hidden>select category</option>
                            
                            <option value=0>Borrow/Collect from others</option>
                            <option value=1>Pay/Lend to others</option>
                            
                        </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Wallet</label>
                          <select id="addWallet" name="wallet" class="form-control" required>
                            <option value="" selected disabled hidden>select wallet used</option>
                            {% for wallet in all_options.wallets %}
                                <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Amount</label>
                          <input id="addDebtAmount" name="amount" class="form-control" type="number"  step="0.01"
                            placeholder="100,000" required/>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Debtor/Creditor Name</label>
                          <input list="debtorOptions" id="addDebtor" name="wallet_to" class="form-control" placeholder="Type or select a name" required>
                          <datalist id="debtorOptions">
                            {% for debtor in all_options.debtors %}
                              <option value="{{ debtor.name }}"></option>
                            {% endfor %}
                          </datalist>
                        </div>
                      </div>
                      

                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>description</label>
                          <input id="addDebtDescription" name="description" class="form-control" type="text"
                            placeholder="description"/>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer border-0">
                        <button type="submit" id="addRowButton" class="btn btn-primary">
                          Add
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                          Close
                        </button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
        </div>

        <!-- Add Transfer Modal -->
        <div class="modal fade" id="addTransferModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header border-0">
                  <h5 class="modal-title">
                    <span class="fw-mediumbold"> New</span>
                    <span class="fw-light"> Transfer Transaction</span>
                  </h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="small">
                    Create a new TRANSFER transaction between your wallets
                  </p>

                  <!-- Add Transfer Form -->
                  <form method="post" id="addTransferForm" action="/transactions/create/transfer">
                    <input type="hidden" name="selected_type" value=3>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Date</label>
                          <input id="addTransferDate" name="selected_date" type="date" class="form-control" placeholder="transaction date" required/>
                        </div>
                      </div>
                        
                         
                      <input type="hidden" name="category" value=1>

                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>From Wallet</label>
                          <select id="fromWallet" name="wallet" class="form-control" required>
                            <option value="" selected disabled hidden>From wallet</option>
                            {% for wallet in all_options.wallets %}
                                <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Amount</label>
                          <input id="addTransferAmount" name="amount" class="form-control" type="number"  step="0.01"
                            placeholder="100,000" required/>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>To wallet</label>
                          <select list="debtorOptions" id="toWallet" name="wallet_to" class="form-control" required>
                            <option value="" selected disabled hidden>To wallet</option>
                            {% for wallet in all_options.wallets %}
                              <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <div class="form-group form-group-default">
                          <label>description</label>
                          <input id="addTransferDescription" name="description" class="form-control" type="text"
                            placeholder="description"/>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer border-0">
                        <button type="submit" id="addRowButton" class="btn btn-primary">
                          Add
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                          Close
                        </button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
        </div>

        <div class="card-body">
            <!-- Filter -->
            <div class="row">
              <!-- Filter dropdowns with responsive columns -->
              <div class="col-md-4 col-sm-12 mb-2">
                  <ul class="nav nav-pills nav-pills-primary mb-3 flex-wrap" role="tablist">
                      <!-- Type Dropdown -->
                      <li class="nav-item me-2">
                          <div class="dropdown">
                              <button class="btn btn-black dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Type
                              </button>
                              <ul class="dropdown-menu">
                                  {% if options.transaction_types %}
                                  {% for type in options.transaction_types %}
                                      {% for id, name in type.items() %}
                                          <li><a class="dropdown-item text-start" href="#" onclick="updateUrlParams('transaction_type_id', '{{ id }}')">{{ name }}</a></li>
                                      {% endfor %}
                                  {% endfor %}
                                  {% endif %}
                              </ul>
                          </div>
                      </li>
                      <!-- Category Dropdown -->
                      <li class="nav-item me-2">
                          <div class="dropdown">
                              <button class="btn btn-black dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Category
                              </button>
                              <ul class="dropdown-menu">
                                  {% if options.categories %}
                                    {% for category in options.categories %}
                                        {% for id, name in category.items() %}
                                            <li><a class="dropdown-item text-start" href="#" onclick="updateUrlParams('category_id', '{{ id }}')">{{ name }}</a></li>
                                        {% endfor %}
                                    {% endfor %}
                                  {% endif %}
                              </ul>
                          </div>
                      </li>
                      <!-- Wallet Dropdown -->
                      <li class="nav-item">
                          <div class="dropdown">
                              <button class="btn btn-black dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Wallet
                              </button>
                              <ul class="dropdown-menu">
                                {% if options.wallets %}
                                  {% for wallet in options.wallets %}
                                      {% for id, name in wallet.items() %}
                                          <li><a class="dropdown-item text-start" href="#" onclick="updateUrlParams('wallet_id', '{{ id }}')">{{ name }}</a></li>
                                      {% endfor %}
                                  {% endfor %}
                                {% endif %}
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          
              <!-- Date Filter Form -->
              <div class="col-md-4 col-sm-12">
                  <form method="post" id="date_filter_form" action="/transactions" class="form-inline d-flex align-items-center">
                      <input type="date" name="startdate" id="startdate" class="form-control me-2 btn-black">
                      <span class="me-2">-</span>
                      <input type="date" name="enddate" id="enddate" class="form-control me-2 btn-black">
                      <button type="submit" class="btn btn-primary me-2">Filter</button>
                      <!-- Reset Button -->
                      <button type="reset" class="btn btn-danger d-flex align-items-center" onclick="window.location.href='/transactions'">
                          <i class="icon-refresh"></i> Reset
                      </button>
                  </form>
              </div>
          </div>
            
            <div class="row">
                    <span class="text-secondary inline">
                        {% set filters = [] %}
                        {% if request.query_params.get('transaction_type_id') and options.transaction_types %}
                            {% set filters = filters + ['Type: ' ~ options.transaction_types[0][request.query_params.get('transaction_type_id') | int]] %}
                        {% endif %}
                        {% if request.query_params.get('category_id') and options.categories %}
                            {% set filters = filters + ['Category: ' ~ options.categories[0][request.query_params.get('category_id') | int]] %}
                        {% endif %}
                        {% if request.query_params.get('wallet_id') and options.wallets %}
                            {% set filters = filters + ['Wallet: ' ~ options.wallets[0][request.query_params.get('wallet_id') | int]] %}
                        {% endif %}
                        {% if request.query_params.get('startdate') and request.query_params.get('enddate') %}
                            {% set filters = filters + ['Date: ' ~ request.query_params.get('startdate') ~ ' - ' ~ request.query_params.get('enddate')] %}
                        {% endif %}
                        {{ filters | join(', ') }}

                        {% if error is not none %}
                        <span class="text-danger">{{ error|safe }}</span>
                        {% endif %}
                    </span>
            </div>
            
            <!-- Table -->
            <div class="table-responsive">
                <table id="multi-filter-select" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Category</th>
                            <th>Wallet</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if transactions %}
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.transaction_date|format_date }}</td>
                            <td>{{ transaction.transaction_type.transaction_type_name }}</td>
                            <td>{{ transaction.category.category_name }}</td>
                            <td>{{ transaction.wallet.wallet_name }}</td>
                            <td>{{ transaction.amount|format_money(currency) }}</td>
                            <td>{{ transaction.description }}</td>
                            <td style="text-align:center">
                                <div class="form-button-action">
                                    <button type="button" data-bs-toggle="tooltip" title="Update"
                                        class="btn btn-link btn-primary btn-lg" 
                                        onclick="openUpdateModal({{ transaction.id }},
                                                                '{{ transaction.transaction_date.strftime('%Y-%m-%d') }}',
                                                                {{ transaction.transaction_type_id }},
                                                                {{ transaction.wallet_id }},
                                                                {{ transaction.amount }},
                                                                '{{ transaction.description }}',
                                {% if transaction.category_id %}{{ transaction.category_id }}{% endif %})">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" data-bs-toggle="tooltip" title="Remove"
                                    class="btn btn-link btn-danger" onclick="deleteTransaction({{ transaction.id }})">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            
            <!-- Transaction Update Modal -->
            <div class="modal fade" id="updateRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title">
                                <span class="fw-mediumbold">Update</span>
                                <span class="fw-light">Transaction</span>
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="small">
                                Update the transaction information below
                            </p>
            
                            <!-- Update Transaction Form -->
                            <form method="post" id="updateTransactionForm" action="/transactions/update">
                                <input type="hidden" id="updateTransactionId" name="transaction_id" />
            
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Date</label>
                                            <input id="updateDate" name="selected_date" type="date" class="form-control" placeholder="transaction date" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Type</label>
                                            <select id="updateType" name="selected_type" class="form-control" required>
                                                <option disabled selected>select type</option>
                                                {% for type in all_options.transaction_types %}
                                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Category</label>
                                            <select id="updateCategory" name="category" class="form-control">
                                              <option disabled selected>Select category</option>
                                              {% for category in all_options.categories %}
                                                  <option value="{{ category.id }}">{{ category.name }}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Wallet</label>
                                            <select id="updateWallet" name="wallet" class="form-control" required>
                                                <option disabled selected>select wallet</option>
                                                {% for wallet in all_options.wallets %}
                                                    <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                                                {% endfor %}
                                                {% for wallet in all_options.debtors %}
                                                    <option value="{{ wallet.id }}" class="text-danger">{{ wallet.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Amount</label>
                                            <input id="updateAmount" name="amount" class="form-control" type="number"  step="0.01" placeholder="100,000" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Description</label>
                                            <input id="updateDescription" name="description" class="form-control" type="text" placeholder="description" />
                                        </div>
                                    </div>
                                </div>
            
                                <div class="modal-footer border-0">
                                    <button type="submit" id="updateRowButton" class="btn btn-primary">
                                        Update
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Pagniation -->
             {% if pagination %}
            <div class="row">
                {% set start_page = 1 if pagination.page < 3 else pagination.page - 2 %}
                {% set end_page = start_page + 4 if start_page + 4 <= pagination.pages else pagination.pages %}
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="trans_table_info" role="status" aria-live="polite">Showing {{ pagination.fromtrans | format_number }} to {{ pagination.totrans | format_number }} of {{ pagination.total | format_number }} transactions
                    </div>
            </div>
            
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="trans_table_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous {% if pagination.page == 1 %}disabled{% endif %}"
                                id="trans_table_previous"><a href="{{ url_for('transactions') }}?page={{ pagination.page - 1 }}"
                                aria-controls="add-row" class="page-link">Previous</a></li>

                        
                        {% for p in range(start_page, end_page + 1) %}
                        <li class="paginate_button page-item {% if p == pagination.page %}active{% endif %}">
                            <a href="/transactions?page={{ p }}" aria-controls="add-row" class="page-link">{{ p }}</a>
                        </li>
                        {% endfor %}
                        
                        <li class="paginate_button page-item next {% if pagination.page == pagination.pages %}disabled{% endif %}"
                                id="trans_table_next"><a href="{{ url_for('transactions') }}?page={{ pagination.page + 1 }}"
                                class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}

        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Include Date Range Picker JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<!-- Filters script -->

<script>
    // Function to get the current query parameters
    function getQueryParams() {
      return new URLSearchParams(window.location.search);
    }
    
    // Function to set the new query parameters
    function setQueryParams(params) {
      const url = new URL(window.location.href);
      url.search = params.toString();
      window.location.href = url.href;
    }
    
    // Function to add new query parameters to the current ones
    function addQueryParams(newParams, currentParams) {
      Object.keys(newParams).forEach(key => {
        currentParams.set(key, newParams[key]);
      });
      setQueryParams(currentParams);
    }
    
    // Add event listener to the form (if applicable)
    document.getElementById('date_filter_form').addEventListener('submit', function(e) {
      e.preventDefault(); // Prevent the default form submission
    
      // Get the form data
      const formData = new FormData(e.target);
    
      // Create an object with the new query parameters
      const newParams = {};
      formData.forEach((value, key) => {
        if (value) {
          newParams[key] = value;
        }
      });
    
      // Get the current query parameters
      const currentParams = getQueryParams();
      // Add the new query parameters to the current ones
      addQueryParams(newParams, currentParams);
    });

    function updateUrlParams(param, value) {
        // Get the current URL and URLSearchParams object
        const url = new URL(window.location);
        const searchParams = url.searchParams;

        // Update the query parameter with the new value
        searchParams.set(param, value);

        // Update the URL in the browser
        window.location.href = url.toString();
    }
</script>

<!-- Transactions script -->
{% if request.cookies.get("darkmode") == 'dark' %}
  <style>
      th {color: white !important;}
  </style>
{% endif %}
<script>
    function deleteTransaction(transactionId) {
    // Show SweetAlert confirmation dialog
    swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        buttons: {
            cancel: {
                visible: true,
                text: "No, cancel!",
                className: "btn btn-danger",
            },
            confirm: {
                text: "Yes, delete it!",
                className: "btn btn-success",
            },
        },
    }).then((willDelete) => {
        if (willDelete) {
            // Get the current URL
            const currentUrl = window.location.href;

            // Proceed to delete the transaction
            fetch(`/transactions/delete?next=${encodeURIComponent(currentUrl)}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ transaction_id: transactionId }),
            })
            .then(response => {
                if (response.redirected) {
                    // If the response redirects, follow the redirect
                    window.location.href = response.url;
                } else {
                    swal("Error!", "Failed to delete the transaction.", {
                        icon: "error",
                        buttons: {
                            confirm: {
                                className: "btn btn-danger",
                            },
                        },
                    });
                }
            })
            .catch(error => {
                console.error('Error deleting transaction:', error);
                swal("Error!", "An error occurred while deleting the transaction.", {
                    icon: "error",
                    buttons: {
                        confirm: {
                            className: "btn btn-danger",
                        },
                    },
                });
            });
        } else {
            swal("Cancelled", "Your transaction is safe!", {
                icon: "info",
                buttons: {
                    confirm: {
                        className: "btn btn-success",
                    },
                },
            });
        }
    });
}


    function openUpdateModal(id, date, typeId, walletId, amount, description, categoryId = null) {
        // Set form values
        document.getElementById("updateTransactionId").value = id;
        document.getElementById("updateDate").value = date;
        document.getElementById("updateType").value = typeId;
        document.getElementById("updateWallet").value = walletId;
        document.getElementById("updateAmount").value = amount;
        document.getElementById("updateDescription").value = description;
        if (categoryId) {document.getElementById("updateCategory").value = categoryId;}

        // Show the modal
        $('#updateRowModal').modal('show');
    }

    document.getElementById("updateTransactionForm").addEventListener("submit", function(event) {
        event.preventDefault();

        let data = new FormData(this);
        fetch("/transactions/update", {
            method: "POST",
            body: data,
        })
        .then(response => {
            if (response.ok) {
                window.location.href = response.url;
            } else {
                return response.json().then(data => {
                    throw new Error(data.detail);
                });
            }
        })
        .catch(error => {
            console.error('Error updating transaction:', error);
            swal("Update Failed!", "You updated with invalid options!", {
              icon: "error",
              buttons: {
                confirm: {
                  className: "btn btn-danger",
                },
              },
            });
        });
    });

</script>

{% endblock %}