{% extends "layout.html" %}

{% block title %}Wallets{% endblock %}
{% block pagename %}Wallets Management{% endblock %}


{% block inner %}
<div class="col-md-12">
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Wallet List</h4>
                <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal"
                    id="addRowButton">
                    <i class="fa fa-plus"></i>
                    Add Wallet
                </button>
            </div>
        </div>

        <!-- Card body -->

        <!-- Add Modal -->
        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header border-0">
                  <h5 class="modal-title">
                    <span class="fw-mediumbold"> New</span>
                    <span class="fw-light"> Wallet</span>
                  </h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="small">
                    Create a new wallet by filling the information below
                  </p>

                  <!-- Add Wallet Form -->
                  <form method="post" id="addWalletForm" action="/wallets/create">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Wallet Name</label>
                          <input type="text" id="addWallet" name="wallet" class="form-control" placeholder="wallet name" required/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Description</label>
                          <input id="addDescription" name="description" class="form-control" type="text"
                            placeholder="description"/>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer border-0">
                        <button type="submit" id="addRowButton" class="btn btn-primary">
                          Add
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                          Close
                        </button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
        </div>

        <div class="card-body">
            
            <!-- Wallets Table -->
            <div class="table-responsive">
                <table id="multi-filter-select" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Wallet name</th>
                            <th>Description</th>
                            <th style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wallet in wallets %}
                        <tr>
                            <td>{{ wallet.wallet_name }}</td>
                            <td>{{ wallet.description }}</td>
                            <td style="text-align:center">
                                <div class="form-button-action">
                                    <button type="button" data-bs-toggle="tooltip" title="Update"
                                        class="btn btn-link btn-primary btn-lg" 
                                        onclick="openUpdateModal({{ wallet.id }},
                                                                '{{ wallet.wallet_name }}',
                                                                '{{ wallet.description }}')">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" data-bs-toggle="tooltip" title="Remove"
                                    class="btn btn-link btn-danger" onclick="deleteWallet({{ wallet.id }})">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <hr />
            
            <!-- Debts Table -->
            <div class="table-responsive">
                <table id="multi-filter-select" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Debtor/Creditor</th>
                            <th>Description</th>
                            <th style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wallet in debts %}
                        <tr>
                            <td>{{ wallet.wallet_name }}</td>
                            <td>{{ wallet.description }}</td>
                            <td style="text-align:center">
                                <div class="form-button-action">
                                    <button type="button" data-bs-toggle="tooltip" title="Update"
                                        class="btn btn-link btn-primary btn-lg" 
                                        onclick="openUpdateModal({{ wallet.id }},
                                                                '{{ wallet.wallet_name }}',
                                                                '{{ wallet.description }}')">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" data-bs-toggle="tooltip" title="Remove"
                                    class="btn btn-link btn-danger" onclick="deleteWallet({{ wallet.id }})">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Wallet Update Modal -->
            <div class="modal fade" id="updateRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title">
                                <span class="fw-mediumbold">Update</span>
                                <span class="fw-light">Wallet</span>
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="small">
                                Update the wallet information below
                            </p>
            
                            <!-- Update Wallet Form -->
                            <form method="post" id="updateWalletForm" action="/wallets/update">
                                <input type="hidden" id="updateWalletId" name="wallet_id" />
            
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group form-group-default">
                                        <label>Wallet Name</label>
                                        <input type="text" id="updateWallet" name="wallet" class="form-control"
                                            placeholder="wallet name" required/>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group form-group-default">
                                        <label>description</label>
                                        <input id="updateDescription" name="description" class="form-control" type="text"
                                          placeholder="description"/>
                                      </div>
                                    </div>
                                  </div>
            
                                <div class="modal-footer border-0">
                                    <button type="submit" id="updateRowButton" class="btn btn-primary">
                                        Update
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    function openUpdateModal(id, name, description) {
        // Set form values
        document.getElementById("updateWalletId").value = id;
        document.getElementById("updateWallet").value = name;
        document.getElementById("updateDescription").value = description;

        // Show the modal
        $('#updateRowModal').modal('show');
    }

    function deleteWallet(walletId) {
        // Show SweetAlert confirmation dialog
        swal({
            title: "Are you sure?",
            text: "All of the transactions associated with this wallet will be deleted, and you won't be able to revert this!",
            icon: "warning",
            buttons: {
                cancel: {
                    visible: true,
                    text: "No, cancel!",
                    className: "btn btn-danger",
                },
                confirm: {
                    text: "Yes, delete it!",
                    className: "btn btn-success",
                },
            },
        }).then((willDelete) => {
            if (willDelete) {
                // Proceed to delete the wallet
                fetch('/wallets/delete', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ wallet_id: walletId }),
                })
                .then(response => {
                    if (response.redirected) {
                        // If the response redirects, follow the redirect
                        window.location.href = response.url;
                    } else {
                        response.json().then(data => {
                            swal("Error!", data.detail, {
                                icon: "error",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-danger",
                                    },
                                },
                            });
                        });
                    }
                })
                .catch(error => {
                    console.error('Error deleting transaction:', error);
                    swal("Error!", "An error occurred while deleting the wallet.", {
                        icon: "error",
                        buttons: {
                            confirm: {
                                className: "btn btn-danger",
                            },
                        },
                    });
                });
            } else {
                swal("Cancelled", "Your wallet is safe!", {
                    icon: "info",
                    buttons: {
                        confirm: {
                            className: "btn btn-success",
                        },
                    },
                });
            }
        });
    }

</script>
{% endblock %}